extends /index.html.pug

block content
    div(class="container p-5")
      div(class="row text-center")
        h1 About Me
      div(class="container")
        div(class="d-md-flex align-items-center")
          div(class="p-5")
            p(class="text-left"). 
              I am Emmanuel Adeniji and I am student at Kansas State University. I am currently
              studying computer science. Along with my education and studies I also keep my self 
              involved with organizations like Association for Computer Machinery, Black Student Union 
              and the National Society of Black Engineers. My hope is through developing myself is to 
              help contribute to society by building a product or service that bridges the gap between 
              people. SocraQ is an attempt at that The final aim of Socraq is to build an interactive 
              chat agent that helps users better understand news and context behind different news articles
          img(src="./AboutPagePicture.png" class="rounded mx-auto d-block w-50" width="200" height="400")
    div(class="container-fluid remove-all-margin")
      div(class="row")
        div(class="col repos")
          h1(class="text-dark text-center") Github Projects
          input(type="text" class="filter-repos hide" placeholder="Search Projects")
          ul(class="repo-list")
        div(class="col bg-dark text-light text-center rounded")
          h1 Technical Skills
          div(id="carousel")
            div(class="carousel slide" data-bs-ride="carousel") 
              div(class="carousel-inner")
                div(class="col-sm img-fluid p-5 carousel-item active" data-bs-interval="5000")
                  img(src="CSharpIcon.png" class="rounded w-50")
                div(class="col-sm img-fluid p-5 carousel-item" data-bs-interval="5000")
                  img(src="GithubIcon.png" class="rounded w-50") 
                div(class="col-sm img-fluid p-5 carousel-item" data-bs-interval="5000")
                  img(src="JavaIcon.png" class="rounded w-50")
                div(class="col-sm img-fluid p-5 carousel-item" data-bs-interval="5000")
                  img(src="JavaScriptIcon.png" class="rounded w-50") 
                div(class="col-sm img-fluid p-5 carousel-item" data-bs-interval="5000")
                  img(src="NodeJsIcon.png" class="rounded w-50") 
                div(class="col-sm img-fluid p-5 carousel-item" data-bs-interval="5000")
                  img(src="pugjsicon.png" class="rounded w-50")
          
            
             
             
            
              