extends /index.html.pug

block content
    div(class="container p-5")
      div(class="row text-center")
        h1 About us
      div(class="container")
        div(class="d-md-flex align-items-center")
          div(class="p-5")
            p(class="text-left"). 
              I am Emmanuel Adeniji and I am student at Kansas State University. I am currently
              studying computer science. Along with my education and studies I also keep my self 
              involved with organizations like Association for Computer Machinery, Black Student Union 
              and the National Society of Black Engineers. My hope is through developing myself is to 
              help contribute to society by building a product or service that bridges the gap between 
              people. SocraQ is an attempt at that The final aim of Socraq is to build an interactive 
              chat agent that helps users better understand news and context behind different news articles
          img(src="./AboutPagePicture.png" class="rounded mx-auto d-block w-50" width="200" height="400")
    section(class="bg-secondary text-light p-5 text-center")
        h1 Technical Skills 
        div(class="container")
          div(class="row align-items-center")
            div(class="col-sm img-fluid p-5")
              img(src="CSharpIcon.png" class="rounded w-50")
            div(class="col-sm img-fluid p-5 ")
              img(src="GithubIcon.png" class="rounded w-50") 
            div(class="col-sm img-fluid p-5")
              img(src="JavaIcon.png" class="rounded w-50")
          div(class="row align-items-center")
            div(class="col-sm img-fluid p-5")
              img(src="JavaScriptIcon.png" class="rounded w-50") 
            div(class="col-sm img-fluid p-5")
              img(src="NodeJsIcon.png" class="rounded w-50") 
            div(class="col-sm img-fluid p-5")
              img(src="pugjsicon.png" class="rounded w-50")
            
            
             
             
            
              